<?xml version="1.0" encoding="utf-8"?>
<events>
	<event>
		<title>Harrytur</title>
		<date>24/07/2012</date>
		<time>12:00</time>
		<place>Nordby</place>
		<description>Reiser i buss fra Fredrikstad (avreise 11:30) og Remmen (avreise 12:00) og drar på Harrytur til Nordby!</description>
	</event>
	
	<event>
		<title>Nerdswim</title>
		<date>23/07/2012</date>
		<time>13:00</time>
		<place>Sarpsborg</place>
		<description>Vi bader! :D</description>
	</event>
	
	<event>
		<title>Remenfestivalen</title>
		<date>31/07/2012</date>
		<time>18:00</time>
		<place>Remmen</place>
		<description>Årets happening! Be there!!</description>
	</event>
</events>